.editorCreator{
    display:flex;
    justify-content:space-between;
}
.display{
    width:50%;
    height:100vh;
    padding:10px;
    border:2px solid red;
    overflow-y: scroll;
    padding-bottom:40px;

}
.editorInput{
    width:300px;
    height:40px;

}
.red{
    color:red
}
form{
    border:2px solid blue;
    width:50%;

}
textarea{
    width:100%;
}