.editorCreator{
    display:flex;
    justify-content:space-between;
}
.display{
    width:50%;
    height:100vh;
    padding:10px;
    border:2px solid red;

}
.editorInput{
    width:300px;
    height:40px;

}