.homeContainer{
    margin-top:40px;
    display: grid;
    gap:5px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

    justify-items:center;

}
.home-post-container{
    cursor:pointer;
    text-align:center;
    width:340px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    border:1px solid black;
    padding:10px;
    border-radius:8px;
}
.nav-header-web{
    display:none;
}
.nav-header-mobile{

}
@media only screen and (min-width: 670px) {
  .nav-header-mobile{
    display:none;
  }
  .nav-header-web{
      display:block;
  }
  .homeContainer{
    margin-top:120px;
  }
  .home-post-container{
    width:400px;
  }
}