<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>LeetCodeJava</title>
  <meta name="description" content="Data structures and LeetCode in Java" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
<header>
  <nav>
    <a href="/">
      <h1>Java DSA and LeetCode Solutions</h1>
    </a>

    <div class="nav-container">
      <a href="/dataStructureTutorial">
        <h3 class="nav-link">DSA</h3>
      </a>
      <a href="/leetCodeSolution">
        <h3 class="nav-link">LeetCode</h3>
      </a>

    </div>
  </nav>
</header>
<h1>Data Structure tutorials</h1>

</body>
</html>