<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>LeetCodeJava</title>
    <meta name="description" content="Data structures and LeetCode in Java" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/signup.css" />

</head>

<body>
<header>
    <nav>
        <a href="/">
            <h1 class="nav-header-mobile">J-L-C-S</h1>
            <h1 class="nav-header-web">Java LeetCode Solutions</h1>
        </a>

        <div class="nav-container">
            <a href="/dataStructureTutorial">
                <h3 class="nav-link">DSA</h3>
            </a>
            <a href="/leetCodeSolution">
                <h3 class="nav-link">LeetCode</h3>
            </a>

        </div>
    </nav>
</header>

<form class="tutorial-form" th:action="@{/signup}" th:object="${user}" method="post" >
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</div>
    <input type="text" name="username" th:field="*{username}"  placeholder="Username" class="input-title-filter" required/>
    <input type="email" name="username" th:field="*{email}"  placeholder="Email" class="input-title-filter" required/>

    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password too short</div>
    <input type="password" name="password" th:field="*{password}"  placeholder="Password" class="input-title-filter" required/>
    <input type="submit">



</form>

</body>
</html>